.main-container {
 width: 90%;
 height: 100vh;
 margin: 0 auto;
 padding: 10px 0;
 overflow: scroll;

}

.main-content {
  width: 65%;
  height: auto;
  border: black 2px solid;
  float: left;

}
.side-content {
 width: 30%;
 height: 700px;
 border: black 2px solid;
 float: right;
 text-align: center;

}


.profile-pic{
  width: 20%;
  height: auto;
  border: white 2px solid;
  border-radius: 50%;

}

.profile {
  width: 100%;
  height: 200px;
  background: url('http://ignupload.s3.amazonaws.com/1429313335-gotham_Banner_large_2048x1152_2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100px;
}

.friend {
  width: 25%;
  height: auto;
}
