.main-container {
 width: 90%;
 height: 100vh;
 margin: 0 auto;
 padding: 10px 0;
 overflow: scroll;

}

.main-content {
  width: 65%;
  height: auto;
  border: black 2px solid;
  float: left;
  box-shadow: 5px 5px 2px black;

}
.side-content {
 width: 30%;
 height: auto;
 float: right;
 text-align: center;
 border: black 1px solid;
 box-shadow: 5px 5px 2px black;
margin-right: 10px;
}


.profile-pic{
  width: 20%;
  height: auto;
  border: white 2px solid;
  border-radius: 50%;

}

.profile {
  width: 100%;
  height: 200px;
  background: url('http://ignupload.s3.amazonaws.com/1429313335-gotham_Banner_large_2048x1152_2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100px;
}

.post-content{
  margin-top: 0px;
  background-color:rgba(0,0,0,0.7);

}

.post-content:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.friend-list {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  padding-top: 5px;
}

.friend {
  width: 25%;
  height: auto;
  border-radius: 50%;

}
h4 {
  margin-top: 0;
}

.robin {
  background: green;
}
.superman {
  background: red;
}
.alfred {
  background: dimgrey;
}
